# Specific
dataset/data/
**/runs/
**/index/
**/retrieve_results/
*.fbin
*.pt
**/embeddings/
**/splade_index/
**/splade_results/
**/assets/
dense_tower/coCondensor-nq/
dense_tower/coCondenser-marco/
**/spann/*
!**/spann/*.py
!**/spann/*.sh
.fuse_hidden*
holding.sh
beir/data_ids
beir/data/*
beir/embeddings
beir/spann
!beir/spann/*.py
data_subset/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Pytest
pytest_cache/

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# PyCharm
.idea/
*.iml

# VSCode
.vscode/
*.code-workspace

# profiling data
.prof

# Data directories that might be used for training/development datasets or model outputs
data/
logs/
models/
results/

# CUDA profiling and tensorboard
*.bin
*.tsv
*.gz

# Mac files
.DS_Store

# Windows thumbnail cache
Thumbs.db